.panel {
    padding: 0 10px;
    border: 1px solid #ccc;
    margin: 5px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
    background: white;
}

.title {
    padding-left: 10px;
    font-size: 1.5em;
    margin-bottom: 5px;
    margin-top: 10px;
}

.panel .title {
    padding-left: 0;
}

.title.questsTitle {
    margin-top: 5px;
    padding-left: 15px;
    padding-bottom: 5px;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    display: flex;
    align-items: center;
}

.expander {
    font-size: 14px;
    color: #555;
    width: 14px;
}

.questCount {
    font-size: 14px;
    font-weight: normal;
    color: white;
    background: #406a9b;
    border-radius: 20px;
    padding: 2px 7px;
    margin-left: 5px;
}

.questCount.completed {
    background: darkgreen;
}

.questCount.unmet {
    background: darkred;
}

.title.questsTitle:hover {
    cursor: pointer;
    color: #888;
}

.quest {
    padding: 3px 0;
    padding-left: 15px;
}

.quest:hover {
    background: #406a9b;
    color: white;
    cursor: pointer;
}

.quests.quests__completed .quest:hover {
    background: darkgreen;
    color: white;
}

.quests.quests__unmet .quest:hover {
    background: darkred;
    color: white;
}

.skills {
    display: flex;
    flex-direction: column;
}

.specialSkills, .regularSkills {
    display: flex;
    flex-wrap: wrap;
}

.skill {
    display: flex;
    align-items: center;
    background: rgb(63, 106, 155);
    color: white;
    border-radius: 5px;
    padding: 2px 4px;
    margin-bottom: 5px;
    margin-right: 5px;
    min-width: 35px;
}

.specialSkills .skill {
    flex-grow: 1;
    justify-content: center;
}

.skill img {
    width: 20px;
    margin-right: 5px;
}

.quests {
    flex: 1 1 100px;
    margin-bottom: 10px;
}

.quests.quests__completed .quest {
    color: darkgreen;
}

.quests.quests__unmet .quest {
    color: darkred;
}

.questsPanel {
    overflow-y: auto;
    flex: 1 0 100px;
}

.difficulty {
    width: 8px;
    height: 8px;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
    border: 1px solid #ccc;
}

.difficulty0 {
    background: lime;
}
.difficulty1 {
    background: yellow;
}
.difficulty2 {
    background: orange;
}
.difficulty3 {
    background: red;
}
.difficulty4 {
    background: purple;
}
.difficulty250 {
    background: lightblue;
}

.summary {
    padding: 0 10px;
}

.summary p {
    margin-bottom: 10px;
}