* { 
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
  font-family: sans-serif;
  color: white;
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

.diagram-component {
  width: auto;
  height: 900px;
  background: #fff
}

canvas {
  outline: none;
}