.message {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.25);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.message__error {
    background: rgba(255, 0, 0, 0.10)
}

.message__error h1 {
    border: 3px solid darkred;
}

.message h1 {
    text-align: center;
    background: white;
    border-radius: 10px;
    color: black;
    padding: 20px;
    box-shadow: 1px 2px 3px rgba(0,0,0,0.25);
}

.questGraph {
    display: flex;
}

.panel {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 1px solid #ccc;
    color: black;
    background: #efefef;
}

.graph {
    flex-grow: 1;
}